<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Negocio.Properties.Settings.conexion" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DBMercado;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>